@use "../variables" as var;
@use "../mixins";

/* Animation for the hole play button hover */
/* Settings for play icon change color */
.learn-more-section {
	display: flex;
	flex-direction: column;
	height: 637px;
	background: url(../assets/third_background.jpg);
	background-position: center;
	background-size: cover;

    &__color-layer {
        @include mixins.setup-size(auto, 637px);
        background-color: var.$layer-color;

        &__content-container {
            margin-top: 84px;
            display: flex;
            flex-direction: column;

            @include mixins.media-query(var.$media-query_768) {
                margin-top: 72px;
            }

            h1 {
                align-self: center;
                color: white;
            }
            button {
                align-self: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 42px;
                @include mixins.setup-size(150px, 150px);
                background-color: var.$light-blue-button-color;
                border-width: 0;
                border-radius: 50%;

                @include mixins.media-query(var.$media-query_768) {
                    width: 100px;
                    height: 100px;
                    margin-top: 91px;
                }
            }
            h2 {
                margin-top: 70px;
                margin-left: auto;
                margin-right: auto;
                width: 390px;
                font-weight: inherit;
                color: white;

                @include mixins.media-query(var.$media-query_768) {
                    margin-top: 82px;
                }
            }

            &__play-img--normal {
                margin-left: 15px;
                @include mixins.setup-size(68px, 53px);

                @include mixins.media-query(var.$media-query_768) {
                    @include mixins.setup-size(47px, 37px);                   
                }
            }
    
            &__play-img--hover {
                display: none;
                margin-left: 15px;
                @include mixins.setup-size(63px, 48px);

                @include mixins.media-query(var.$media-query_768) {
                    @include mixins.setup-size(43px, 32px);
                }
            }
        }
    }
}

