@use "../variables" as var;
@use "../mixins";

footer {
	height: 199px;
	background-color: var.$footer-background-color;
	display: flex;

    @include mixins.media-query(var.$media-query_768) {
        height: 290px;
		display: flex;
		justify-content: center;
    }
}
.footer-container {
	margin-top: 37px;
	margin-left: 145px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    @include mixins.setup-size(953px, 82px);

    @include mixins.media-query(var.$media-query_768) {
        margin-left: 0;
		margin-top: 58px;
		flex-direction: column;
		gap: 19px;
    }

    &__left-footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 383px;

        @include mixins.media-query(var.$media-query_768) {
            flex-direction: column;
            width: auto;
            gap: 31px;
        }

        &__footer-logo-container {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;
            align-self: baseline;

            @include mixins.media-query(var.$media-query_768) {
                align-self: center;
            }

            h3 {
                font-weight: inherit;
            }

            img {
                @include mixins.media-query(var.$media-query_768) {
                    filter: brightness(0) invert(1);
                }
            }
        }

        &__footer-contact-container {
            align-self: baseline;
            display: flex;
            flex-direction: column;
            gap: 27px;

            @include mixins.media-query(var.$media-query_768) {
                align-self: center;
                gap: 18px;
                text-align: center;
            }
            a {
                color: var.$gray-footer-color;
                text-decoration: none;
                line-height: 19px;
            }
            p {
                color: var.$gray-footer-color;
                text-decoration: none;
                line-height: 19px;
            }
        }
    }

    &__copyright-text {
        color: var.$gray-footer-color;
        text-decoration: none;
        line-height: 19px;
        width: 230px;
        align-self: flex-end;

        @include mixins.media-query(var.$media-query_768) {
            display: none;
        }
    }
}