// General Variables
$white-color_h1_h3: rgba(255, 255, 255, 1);
$white-color_h2: rgba(255, 255, 255, 0.7);
$black-color_p: rgba(0, 0, 0, 1);
$font-family_oswald: 'Oswald', sans-serif;
$font-family_sans-pro: 'Source Sans Pro', sans-serif;
$zero-value: 0;

$hundreed-percent-width: 100%;
$font-weight-400: 400px;
$font-weight-700: 700px;

$media-query_768: 768px;

// Header Variables
$white-color: white;

// Description Variables
$grey-color_1: rgba(70, 69, 71, 1);
$grey-color_2: rgba(102, 102, 102, 1);
$backgound-white-color: rgba(238, 238, 238, 1);
$light-blue-color: rgba(85, 194, 216, 1);

// Learn more Variables

$layer-color: rgba(140, 79, 42, 0.3);
$light-blue-button-color:rgba(57, 194, 215, 1);

//Footer Variables
$gray-footer-color: rgba(255, 255, 255, 0.4);
$footer-background-color: rgba(70, 69, 71, 1);